
.flexbox-container{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 600px;
    display: flex;
    background-color: aquamarine;
    align-items:center;
}
.fxb-item{
    background-color: rgb(157, 255, 140);
    width: 100px;
    height: 200px;
    border: 2px solid;
    padding: 40px;
    margin: 10px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.fxb1{
    flex-shrink: 0;
    order: 2;
}
.fxb2{
    flex-grow: 2;
    flex-basis: 0;
}
.fxb3{
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}